@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #DC143C;
  /* --color-secondary: teal; */
}

html, body, #root {
height: 100%;
font-family: "Merriweather Sans", sans-serif;
}

/* a.active {
  border-bottom: 2px solid rgb(255, 102, 0);
} */
