@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: gray;
  --color-secondary: teal;
}

html, body, #root {
height: 100%
}